body{
    background-color: white;
}
.Head{
    display: flex;
    float: right;
    padding-right: 20px;
    justify-content: space-around;
    margin-right: 20px;
}
.first-image{
    margin-left: 70px;
}

.links{
    padding: 0 0 0 10px;
}

.img1{
    margin-right: 100px;
}
.header #top-logo{
    height: 10px;
}
/* .image-tag{
    height: -10px;
    image-resolution:inherit; */
/* } */
/* .Header{
        margin-right: 500px;
} */
.Header-1{
    text-align: center;
    margin-left: 600px;
    color: rgb(0,204,177);
}
.p1{
    border:transparent;
    height: 100px;
    
}
.p2{
    border: transparent;
    height: 100px;
    margin-left: 50px;
}
.Sub-header{
    display: flex;
    margin-left: 300px;
}
.Sub-header1{
    background-color: rgb(0,204,177);
    border-radius: 20px;
    justify-content: space-between;
    padding-right: 20px;
    color: white;
    width: 300px;
    font-size: medium;
    margin-right: 10px;
}
.Sub-header2{
    background-color: rgb(61,131,223);
    border-radius: 20px;
    justify-content: space-between;
    padding-right: 20px;
    color: white;
    width: 300px;
}
.Sub-header3{
    background-color: rgb(27,39,52);
    border-radius: 20px;
    color: white;
    padding-right: 20px;
    width: 300px;
}
.main-div{
    display: flex;
    /* margin-left: 100px;
    padding-right: 20px; */
    justify-content: space-around;
    height: 300px;
    margin-top: 50px;
}
/* .logo-styling img{
   
     width: 100px; 
    display: flex;
    justify-content: space-between;
} */
    

/* .mid-style{
    display: flex;
    float: left;
}  */
/* .logo-design{
    display: flex;
    justify-content: space-around; 
    margin-right: 100px;
    margin-top: 20px;
} */

.Flags-design1 img{
    display: flex;
    width: 20px;
    height: 10px;
    padding: 0% 10%;
    justify-content: space-around;
    margin-top: 20px;
    size: 20px;
   
    
}
/* .fg1 image{
    height: -10px;
    width: -20px;
    margin-left: 10px; */
}

.Flags-design img{
    display: flex;
    width: 5px;
    height: 5px;
    background-color: blue;
    text-align: left;
}
.bottom-style1{
    background-color: white;
    /* border-radius: 10px; */
    margin-top: 50px;
    text-align: center;
    width: 200px;
    height: 250px;
    text-decoration: solid;
    
}
.bottom-style2{
    background-color: white;
    /* border-radius: 10px; */
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    text-decoration: solid;
    width: 200px;
    height: 200px;

}
.bottom-style3{
    background-color: white;
    /* border-radius: 10px; */
    text-align: center;
    margin-left: 50px;
    margin-top: -150px;
    width: 200px;
    height: 200px;
    text-decoration: solid;
}
.bottom-style4{
    background-color: white;
    /* border-radius: 10px; */
    margin-left: 50px;
    text-align: center;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    text-decoration: solid;
    

}
.mid-design{
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    justify-content: space-around;
    margin-top: 50px;
    
}
.mid-design2{
    display: flex;
    justify-content: space-between;
    margin-top: 180px;
    
}
.p{
    margin-top: 150px;
    margin-right: 200px;
}
.h{
    margin-left: 50px;
    margin-top: -10px;
}
.upper-style{
    display: flex;
}
.lower-style{
    display: flex;
    
}
.footer{
    text-align: center;
    margin-top: 100px;
    }
.images{
        /* align-items: center; */
        /* justify-content: center; */
        text-align: center;
    }
    .dp{
        text-align: center;
    }
    .dp1{
        text-align: center;
    }
    .section-styling{
        justify-content: space-between;
        margin-top: 150px;
        background-color: rgb(208,250,244) ;
    }
    .bt1{
        background-color: blue;
        font-style: italic;
        color: white;

    }
    .middle-div1{
        display: flex;
        float:right;
        margin-top: -80px;
        margin-right: 150px;
        
    }
    .md1 img{
        width: 100px;
        padding-right: 30px;
        
        
    }
    .md2 img{
        width: 100px;
        margin-top: 10px;
        padding-right: 30px;
    }
    .md3 img{
        width: 100px;
        margin-top: 10px;
        padding-right: 30px;
    }
    .md4 img{
        width: 100px;
        margin-top: 10px;
        padding-right: 30px;
    }
    
    /* .lg-style1{
        margin-top: 20px;
    }
    .lg-style2{
        margin-top: 20px;
    }
    .lg-style3{
        margin-top: 20px;
    }  */